$Montserrat:('Bold', 700),
('Medium', 500),
('Regular', 400);

@each $name,
$weight in $Montserrat {
    @font-face {
        font-family: 'Montserrat';
        src: url('@assets/fonts/Montserrat-#{$name}.ttf') format('truetype');
        font-weight: $weight;
    }
}